h1 {
	text-align: center;
}

button {
	margin-top: 50px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid blue;
}
.card > .neeche_wala > button {
	margin-top: 20px;
	margin-left: 10px;
	max-height: 50px;
}

.card {
	padding-bottom: 20px;
	border: 2px solid black;
	border-radius: 30px;
	padding-top: 0px;
	max-width: 500px;
	display: block;
	background-color: #dfccfb;
}
.card > .sound {
	background-color: #d0bfff;
	border-bottom: 0.5px solid black;
	border-radius: 30px;
	max-width: 600px;
	max-height: 80px;
	padding-top: 30px;
	padding-bottom: 20px;
	padding-right: 200px;
}
audio {
	margin-left: 10px;
	min-width: 300px;
	border: 2px solid #80b3ff;
	border-radius: 50px;
}
.sound {
	display: flex;
}
.neeche_wala {
	display: flex;
}
h3 {
	margin-top: 30px;
	margin-left: 20px;
}
img {
	height: 100px;
	width: 100px;
	border-radius: 200px;
	margin-left: 50px;
	margin-top: 25px;
	border: 5px solid white;
}
.card > .neeche_wala {
	max-height: 60px;
	margin-left: 10px;
}
.aila_jadu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 0px;
}
.pura {
	margin: 100px;
	margin-bottom: 0px;
	margin-left: 50px;
	margin-top: 70px;
}
h1 {
	margin: 0px;
	margin-top: 40px;
}
h1 span {
	background-color: #687eff;
	padding: 20px;
	margin-top: 10px;
	border-radius: 10px;
	color: white;
	border: 4px solid rebeccapurple;
}
body {
	background-color: #efdcff;
}
